[project]
	description = Exploring userspace-rcu
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anekkunt
[access "refs/for/refs/*"]
	read = group user/anekkunt
	push = group user/anekkunt
	label-Code-Review = -2..+2 group user/anekkunt
	label-Verified = -1..+1 group user/anekkunt
	rebase = group user/anekkunt
	removeReviewer = group user/anekkunt
	submit = group user/anekkunt
[access "refs/heads/*"]
	read = group user/anekkunt
	create = group user/anekkunt
	push = +force group user/anekkunt
	pushMerge = group user/anekkunt
[access "refs/tags/*"]
	push = +force group user/anekkunt
	pushTag = group user/anekkunt
	pushSignedTag = group user/anekkunt
